@model MarineDataSheet.Datum
   
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<link href="~/Scripts/dataTablesScripts/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/dataTablesScripts/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/dataTablesScripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTablesScripts/dataTables.bootstrap4.min.js"></script>

<h4 class="page-header">Create  New DataSheet</h4>

<div class="panel panel-default">
    <div class="panel-heading">Create DataSheet</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                @Html.LabelFor(model => model.Laskuri, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.Laskuri, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Laskuri, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.STD, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.STD)
                        @Html.ValidationMessageFor(model => model.STD, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Datasivun_numero, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.Datasivun_numero, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Datasivun_numero, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Datasheet_revision, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.Datasheet_revision, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Datasheet_revision, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Valid_from, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.Valid_from, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Valid_from, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Datasheet_status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.Datasheet_status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Datasheet_status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Datasheet_created_by, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.Datasheet_created_by, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Datasheet_created_by, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(model => model.Cooling, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.Cooling, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cooling, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.C1_Voltage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.C1_Voltage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.C1_Voltage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.C1_Frequency, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.C1_Frequency, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.C1_Frequency, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.C1_Starting_type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.C1_Starting_type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.C1_Starting_type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.C2_Voltage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.C2_Voltage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.C2_Voltage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.C2_Frequency, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.C2_Frequency, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.C2_Frequency, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.C2_Starting_type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.C2_Starting_type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.C2_Starting_type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <input type="submit" value="Create DataSheet" class="btn btn-success" />
                    @Html.ActionLink("Clear", "Index", "NewDataSheet", null, new { @class = "btn btn-danger" })

                    @Html.ActionLink("ViewData Sheet", "Index", "Data", null, new { @class = "btn btn-info" })

                </div>
            </div>

        }

    </div>
</div>