@model MarineDataSheet.Datum

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Create DataSheet</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <table>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("DataSheet number:", htmlAttributes: new { @class = "control-label manadatory" })
                        @Html.TextBoxFor(model => model.Datasivun_numero, new { @class = "myclass", @onkeypress = "return false;" })
                        @Html.ValidationMessageFor(model => model.Datasivun_numero, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        &nbsp; &nbsp;
                        @Html.Label("Standard datasheet:", htmlAttributes: new { @class = "" })
                        &nbsp; &nbsp;
                        @Html.CheckBoxFor(model => model.STD, htmlAttributes: new { @checked = true })
                    <td>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Datasheet revision :", htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.Datasheet_revision, new { @class = "myclass", @onkeypress = "return false;" })
                            &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        &nbsp;

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <strong>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Revision valid from:", htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.Valid_from, new { @class = "myclass", @onkeypress = "return false;" })
                            @Html.ValidationMessageFor(model => model.Valid_from, "", new { @class = "text-danger" })
                            &nbsp;
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <strong>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Datasheet status:", htmlAttributes: new { @class = "" }) 
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Käytössä",
                                    Value = "Käytössä"
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Ei käytössä",
                                    Value = "Ei käytössä",
                                    Selected = true
                                });

                            }
                            &nbsp;
                            &nbsp;
                            @Html.DropDownListFor(model => model.Datasheet_status, listItems, "-- Select Status --", new { @class = "myclass", @onkeypress = "return false;" })
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <strong>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Datasheet create by:", htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.Datasivun_numero, new { @class = "myclass", @onkeypress = "return false;" })
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>

            <div>
                <table>
                    <tr>
                        <td>
                            <strong>
                                @Html.Label("Datasheet Extra note:", htmlAttributes: new { @class = "" }) &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextBoxFor(model => model.Lisätietoja, new { @class = "myclass", @onkeypress = "return false;" })
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                @Html.Label("Engineering Extra note:", htmlAttributes: new { @class = "" }) 
                                @Html.TextBoxFor(model => model.Suunnittelun_kommentit, new { @class = "myclass", @onkeypress = "return false;" })
                            </strong>
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div>
                <strong>
                    @Html.Label("GENERAL DATA :", new { @class = "lbl-danger" })
                </strong>
            </div>

            <table>
                <tr>
                    <td>@Html.Label("Code:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("1. Voltage:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Model:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Model_No, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("1. Frequency:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Frequency, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Maximum pressure (barg):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_working_pressure_barg, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("1. Starting type:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Starting_type, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Normal working pressure (barg):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Normal_working_pressure_barg, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("2. Voltage:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Minimum working pressure (barg):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Minimum_working_pressure_barg, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("2. Frequency:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C2_Frequency, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Cooling:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Cooling, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("2. Starting type:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C2_Starting_type, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Maximum ambient temperature (C°):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_ambient_temperature_C, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <hr />
            <div>
                <strong>
                    @Html.Label("MOTOR, AIR END AND ELECTRICAL VALUES:", new { @class = "lbl-danger" })
                </strong>
            </div>

            <table>
                <tr>
                    <td>@Html.Label("Main motor : F-class, IP 55 (kW):", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Voltage tolerance:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Main motor protection details:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Model_No, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Fuse (max) (1 Jännite) A:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Frequency, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Main motor temperature rise:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_working_pressure_barg, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Control voltage (V):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Starting_type, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Speed of rotation (rpm) - main motor:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Normal_working_pressure_barg, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Transmission: (B = Belt, G = Gear, D = Direct):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Motor cos fii:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Minimum_working_pressure_barg, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Motor pulley:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C2_Frequency, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Motor efficiency %:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Cooling, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Air end pulley:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C2_Starting_type, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Fan motor (kW) EA / EW:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_ambient_temperature_C, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Air end pulley:", htmlAttributes: new { @class = "" })</td>
                    <td>@Html.TextBoxFor(model => model.Maximum_ambient_temperature_C, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Speed of rotation (rpm) - fan motor:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_ambient_temperature_C, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <hr />
            <div>
                <strong>
                    @Html.Label("CAPACITY AND POWER CONSUMPTION:", new { @class = "lbl-danger" })
                </strong>
            </div>

            <table>
                <tr>
                    <td>@Html.Label("Capacity at normal working pressure (m³/min) min / max:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" }) / @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Shaft power at normal working pressure (kW) min / max:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" }) / @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Frequency min / max:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" }) / @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>
            </table>
            <hr />
            <div>
                <strong>
                    @Html.Label("COOLING:", new { @class = "lbl-danger" })
                </strong>
            </div>
            <table>
                <tr>
                    <td>  @Html.Label("Compressed air temp above cooling medium temp C°", new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>

            </table>

            <div>
                
                    @Html.Label("Air cooled:", new { @class = "lbl-danger" })
            </div>
            <table>
                <tr>
                    <td>@Html.Label("Cooling air flow (m³/s) EA :", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Maximum cooling air pressure drop (Pa):", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>

            </table>

            <div>
                    @Html.Label("Water cooled:", new { @class = "lbl-danger" })
                
            </div>

            <table>
                <tr>
                    <td>@Html.Label("Cooling air flow (m³/s) EW :", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Maximum water inlet pressure (barg):", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Minimum water inlet pressure with zero back pressure (bar)(Serial) - FW:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Water in / out T2 / T3:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Minimum water inlet pressure with zero back pressure (bar)(Serial) - SW:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Water in / water out (C°), Fresh water cooled:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Extra factor for water flow at 60 % humidity:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Water in / water out (C°), Sea water cooled:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>
            </table>
            <hr />
            <div>
                    @Html.Label("GENERAL TECHNICAL DATA:", new { @class = "lbl-danger" })
            </div>

            <table>
                <tr>
                    <td>@Html.Label("Oil quantity (I):", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Weight with canopy:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = "return false;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Oil content (mg/m³):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Model_No, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("General arrangement drawing with canopy EA:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Frequency, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Air outlet T1 - Air cooled:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_working_pressure_barg, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("General arrangement drawing with canopy EW:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Starting_type, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Air outlet T1 - Water cooled:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Normal_working_pressure_barg, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Cable gland: Power:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Condensate drain T4:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Minimum_working_pressure_barg, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>@Html.Label("Cable gland: Alarm / Signal:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C2_Frequency, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Noise level (LpA) / power level (LWA) with canopy EA:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Cooling, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Noise level (LpA) / power level (LWA) with canopy EW:", htmlAttributes: new { @class = "" })</td>
                    <td>@Html.TextBoxFor(model => model.Maximum_ambient_temperature_C, new { @class = "myclass", @onkeypress = "return false;" })</td>
                    <td>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-lg-4">
                    <input type="submit" value="Create DataSheet" class="btn btn-success" />
                    @Html.ActionLink("Clear", "AddNewDataSheet", "NewDataSheet", null, new { @class = "btn btn-danger" })

                    @Html.ActionLink("ViewData Sheet", "Index", "Data", null, new { @class = "btn btn-info" })

                </div>
            </div>
        }

    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#Valid_from").datepicker
            ({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                numberOfMonths: 1,
                changeYear: true,
                yearRange: new Date().getFullYear() + ':' + new Date().getFullYear(),
                onSelect: function (date) {

                    $('#ToDate').prop('disabled', false);
                    var dt2 = $('#ToDate');
                    var startDate = $(this).datepicker('getDate');
                    var minDate = $(this).datepicker('getDate');
                    dt2.datepicker('setDate', minDate);
                    startDate.setDate(startDate.getDate() + 60);
                    //sets dt2 maxDate to the last day of 30 days window
                    dt2.datepicker('option', 'maxDate', startDate);
                    dt2.datepicker('option', 'minDate', minDate);
                    $(this).datepicker('option', 'minDate', minDate);

                }
            });
    });
    $(document).ready(function () {
        $("#ToDate").datepicker
            ({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 1,
                yearRange: new Date().getFullYear() + ':' + new Date().getFullYear(),
                onSelect: function (date) {

                }
            });
    });
</script>
