@model MarineDataSheet.Datum

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<table>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <strong>
                DataSheet number:
                @Html.TextBoxFor(model => model.Datasivun_numero, new { @class = "", @onkeypress = "return false;" })

            </strong>
        </td>
        <td>
            <strong>
                &nbsp; Standard datasheet: &nbsp;
                @Html.CheckBoxFor(model => model.STD, htmlAttributes: new { @checked = true })
            </strong>
        <td>
            <strong>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Datasheet revision :
                @Html.EditorFor(model => model.Datasheet_revision, new { htmlAttributes = new { @class = "" } })
                &nbsp;
            </strong>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            &nbsp;
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <strong>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Revision valid from:
                @Html.TextBoxFor(model => model.Valid_from, new { @class = "", @onkeypress = "return false;" })
                @Html.ValidationMessageFor(model => model.Valid_from, "", new { @class = "text-danger" })
                &nbsp;
            </strong>
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <strong>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Datasheet status:
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Käytössä",
                        Value = "Käytössä"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Ei käytössä",
                        Value = "Ei käytössä",
                        Selected = true
                    });

                }
                &nbsp;
                &nbsp;
                @Html.DropDownListFor(model => model.Datasheet_status, listItems, "-- Select Status --")
            </strong>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <strong>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Datasheet create by:
                @Html.TextBoxFor(model => model.Datasivun_numero, new { @class = "", @onkeypress = "return false;" })
            </strong>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<div>
    <table>
        <tr>
            <td>
                <strong>
                    Datasheet Extra note:&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.TextBoxFor(model => model.Lisätietoja, new { @class = "", @onkeypress = "return false;" })
                </strong>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <strong>
                    Engineering Extra note:
                    @Html.TextBoxFor(model => model.Suunnittelun_kommentit, new { @class = "", @onkeypress = "return false;" })
                </strong>
            </td>
        </tr>
    </table>
</div>

&nbsp;
&nbsp;
<div>

    <strong>
        @Html.Label("GENERAL DATA :", new { @class = "lbl-danger" })
    </strong>
</div>

<div>
    <table>
        <tr>
            <td>Code:&nbsp;</td>
            <td> @Html.TextBoxFor(model => model.Code, new { @class = "", @onkeypress = "return false;" })</td>
            <td>1. Voltage:</td>
            <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "", @onkeypress = "return false;" })</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Model:</td>
            <td> @Html.TextBoxFor(model => model.Model, new { @class = "", @onkeypress = "return false;" })</td>
            <td>1. Frequency:</td>
            <td> @Html.TextBoxFor(model => model.C1_Frequency, new { @class = "", @onkeypress = "return false;" })</td>
            <td>&nbsp;</td>
        </tr>
        <tr>

            <td>Maximum pressure (barg):</td>

            <td> @Html.TextBoxFor(model => model.Maximum_working_pressure_barg)</td>

            <td>1. Starting type:</td>
            <td> @Html.TextBoxFor(model => model.C1_Starting_type, new { @class = "", @onkeypress = "return false;" })</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Normal working pressure (barg):</td>
            <td> @Html.TextBoxFor(model => model.Normal_working_pressure_barg, new { @class = "", @onkeypress = "return false;" })</td>
            <td>2. Voltage:</td>
            <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "", @onkeypress = "return false;" })</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Minimum working pressure (barg):</td>
            <td> @Html.TextBoxFor(model => model.Minimum_working_pressure_barg, new { @class = "", @onkeypress = "return false;" })</td>
            <td>2. Frequency:</td>
            <td> @Html.TextBoxFor(model => model.C2_Frequency, new { @class = "", @onkeypress = "return false;" })</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Cooling:</td>
            <td> @Html.TextBoxFor(model => model.Cooling, new { @class = "", @onkeypress = "return false;" })</td>
            <td>2. Starting type:</td>
            <td> @Html.TextBoxFor(model => model.C2_Starting_type, new { @class = "", @onkeypress = "return false;" })</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Maximum ambient temperature (C°):</td>
            <td> @Html.TextBoxFor(model => model.Maximum_ambient_temperature_C, new { @class = "", @onkeypress = "return false;" })</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<div class="row">
    <div class="col-lg-4">
        <input type="submit" value="Create DataSheet" class="btn btn-success" />
        @Html.ActionLink("Clear", "AddNewDataSheet", "NewDataSheet", null, new { @class = "btn btn-danger" })

        @Html.ActionLink("ViewData Sheet", "Index", "Data", null, new { @class = "btn btn-info" })

    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#Valid_from").datepicker
            ({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                numberOfMonths: 1,
                changeYear: true,
                yearRange: new Date().getFullYear() + ':' + new Date().getFullYear(),
                onSelect: function (date) {

                    $('#ToDate').prop('disabled', false);
                    var dt2 = $('#ToDate');
                    var startDate = $(this).datepicker('getDate');
                    var minDate = $(this).datepicker('getDate');
                    dt2.datepicker('setDate', minDate);
                    startDate.setDate(startDate.getDate() + 60);
                    //sets dt2 maxDate to the last day of 30 days window
                    dt2.datepicker('option', 'maxDate', startDate);
                    dt2.datepicker('option', 'minDate', minDate);
                    $(this).datepicker('option', 'minDate', minDate);

                }
            });
    });
    $(document).ready(function () {
        $("#ToDate").datepicker
            ({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 1,
                yearRange: new Date().getFullYear() + ':' + new Date().getFullYear(),
                onSelect: function (date) {

                }
            });
    });
</script>